footer {
	margin-top: 20vh;
}

#letter {
	overflow-y: scroll;
	height:35vh;
}

#letter-second {
	overflow-y: scroll;
	height:35vh;
}

#letter-mail {
	overflow-y: scroll;
	height:5vh;
	background-color: #ededed;
	padding: 10px;
}

#subject-line {
	background-color: #ededed;
	padding: 10px;
	font-family: monospace;
}

.hide {
	display: none;
}

#dropdownButton {
	background-color: !important white;
}